
<section class='col-xs-9'>
  <h4>These are today concerts!</h4>
    <% @today_concerts.each do |concert| %>

      <div class='col-sm-4 today-concert'>
        <article class='box'>
          
            <h2><%= concert.band %></h2>
            <img src="https://myipopdotnet.files.wordpress.com/2015/06/los-minions-e1435229208965.jpg">
            <h4><%= concert.venue %> <%= concert.city %> , <%= concert.date %></h4>
            <p>Price: <%= concert.price %> €</p>
            <p><%= concert.description %></p>
            <p><%= link_to("See more", concert_path(concert.id)) %></p>
          
        </article>
      </div>

    <% end %>
</section>
